<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/SuperAdmin">Super Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/SuperAdmin/all-admins">All Admins</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/SuperAdmin/all-delivery">All Delivery boys</a>
                </li>
            </ul>
            {{#if superAdminsec}}


            <div class="loginbutton-container">
            <a href="/SuperAdmin/logout">
                <button class="loginbutton"> {{superAdminsec.Name}} /Log Out</button>
            </a>
        </div>
        {{else}}
        <div class="loginbutton-container">
            <a href="/SuperAdmin/login">
                <button class="loginbutton">Login / Sign Up</button>
            </a>
        </div>
        {{/if}}
        </div>
    </nav>
</header>