<section></section>
<div class="row">
    <div class="col-md-6 m-auto">
    <div class="container mt-5">
       <h3> Super admin signup </h3>
        <form  action="/SuperAdmin/signup" method="post">
            <label for="">Name</label>
            <input class="form-control" type="text" name="Name" placeholder="Name">
             <label for="">Mobile</label>
            <input class="form-control" type="number" name="Mobile" placeholder="Mobile">
             <label for="">Passowrd</label>
            <input class="form-control" type="password" name="Password" placeholder="Password">
       <p style="color: red;">{{info}}</p>
        
       <button  type="submit" class="btn btn-primary mt-3">Signup</button>
        </form>
    </div>
    </div>
</div>
</section>