<section>
    <div class="container">
        <h3 >Super Admin</h3>
       <a href="/SuperAdmin/adminsignup" class="btn btn-success">
       Create Admin
       </a>
       <a href="/SuperAdmin/deliverysignup" class="btn btn-primary">
       Create Delivery
       </a>
    </div>
</section>